@media (min-width: 1920px) {
    #explore {
        background-color: #030303;
        height: 865px;
        width: 100%;
        padding: 75px 0;
    }
    #explore .container {
        margin: 0 auto;
        position: relative;
        width: 1440px;
        height: 715px;
    }
    #explore .container h2 {
        position: absolute;
        width: 660px;
        height: 90px;
        left: 0px;
        top: 0px;
        font-family: Forum;
        font-style: normal;
        font-weight: normal;
        font-size: 80px;
        line-height: 90px;
        letter-spacing: 5px;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    #explore .container hr {
        position: absolute;
        width: 660px;
        height: 3px;
        left: 0px;
        top: 115px;
        background: #710707;
        border-radius: 0px;
    }
    #explore .container p {
        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        font-size: 22px;
        line-height: 38px;
        color: #FFFFFF;
    }
    #explore .container .p1 {
        position: absolute;
        width: 659px;
        height: 77px;
        left: 0px;
        top: 193px;
    }
    #explore .container .p2 {
        position: absolute;
        width: 660px;
        height: 77px;
        left: 0px;
        top: 295px;
    }
    #explore .container .p2 span {
        color: #CAAA7D;
    }
    #explore .container .p3 {
        position: absolute;
        width: 660px;
        height: 77px;
        left: 0px;
        top: 397px;
    }
    #explore .container .image {
        position: absolute;
        width: 720px;
        height: 700px;
        left: 720px;
        top: 15px;
        background: url(../img/explore-slider/after.jpg);
    }
}

@media (max-width: 1919px) and (min-width: 1024px) {
    #explore {
        background-color: #030303;
        /* height: 1149px; */
        width: 100%;
        padding: 60px 0px;
    }
    #explore .container {
        margin: 0 auto;
        position: relative;
        width: 984px;
        height: 1029px;
    }
    #explore .container h2 {
        position: absolute;
        width: 439px;
        height: 75px;
        left: 0px;
        top: 0px;
        font-family: Forum;
        font-style: normal;
        font-weight: normal;
        font-size: 50px;
        line-height: 75px;
        letter-spacing: 5px;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    #explore .container hr {
        position: absolute;
        width: 984px;
        height: 3px;
        left: 0px;
        top: 95px;
        background: #710707;
        border-radius: 0px;
    }
    #explore .container p {
        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
        line-height: 38px;
        color: #FFFFFF;
    }
    #explore .container .p1 {
        position: absolute;
        width: 984px;
        height: 39px;
        left: 0px;
        top: 158px;
    }
    #explore .container .p2 {
        position: absolute;
        width: 984px;
        height: 70px;
        left: 0px;
        top: 197px;
    }
    #explore .container .p2 span {
        color: #CAAA7D;
    }
    #explore .container .p3 {
        display: none;
    }
    #explore .container .image {
        position: absolute;
        width: 720px;
        height: 700px;
        left: 132px;
        top: 329px;
        background: url(../img/explore-slider/after.jpg);
    }
}

@media (max-width: 1023px) and (min-width: 768px) {
    #explore {
        background-color: #030303;
        width: 100%;
        padding-top: 40px;
    }
    #explore .container {
        margin: 0 auto;
        width: 768px;
        height: 908px;
        padding: 0 0 0 20px;
    }
    #explore .container h2 {
        width: 100%;
        height: 60px;
        font-family: Forum;
        font-style: normal;
        font-weight: normal;
        font-size: 40px;
        line-height: 60px;
        /* identical to box height, or 150% */
        letter-spacing: 5px;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    #explore .container hr {
        margin: 20px 0 40px;
        width: 728px;
        height: 3px;
        left: 0px;
        top: 95px;
        background: #710707;
        border-radius: 0px;
    }
    #explore .container p {
        display: none;
    }
    #explore .container .image {
        width: 728px;
        height: 705px;
        background: url(../img/explore-slider/after.jpg);
    }
}

@media (max-width: 767px) and (min-width: 420px) {
    #explore {
        background-color: #030303;
        width: 100%;
        padding: 40px 0px 0 0;
    }
    #explore .container {
        margin: 0 auto;
        width: 380px;
        height: 511px;
    }
    #explore .container h2 {
        width: 367px;
        height: 40px;
        font-family: Forum;
        font-style: normal;
        font-weight: normal;
        font-size: 28px;
        line-height: 40px;
        letter-spacing: 5px;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    #explore .container hr {
        margin: 20px 0 40px;
        width: 380px;
        height: 3px;
        left: 0px;
        top: 95px;
        background: #710707;
        border-radius: 0px;
    }
    #explore .container p {
        display: none;
    }
    #explore .container .image {
        width: 380px;
        height: 368px;
        background: url(../img/explore-slider/after.jpg);
    }
}

@media (max-width: 419px) {
    #explore {
        background-color: #030303;
        width: 100%;
        padding: 40px 0px 0 0;
    }
    #explore .container {
        margin: 0 auto;
        width: 380px;
        height: 511px;
    }
    #explore .container h2 {
        width: 367px;
        height: 40px;
        font-family: Forum;
        font-style: normal;
        font-weight: normal;
        font-size: 28px;
        line-height: 40px;
        letter-spacing: 5px;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    #explore .container hr {
        margin: 20px 0 40px;
        width: 380px;
        height: 3px;
        left: 0px;
        top: 95px;
        background: #710707;
        border-radius: 0px;
    }
    #explore .container p {
        display: none;
    }
    #explore .container .image {
        width: 380px;
        height: 368px;
        background: url(../img/explore-slider/after.jpg);
    }
}